<form method="post" action="{{ path('app_ips_colleges_delete', {'id': ips_college.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ips_college.id) }}">
    <button class="btn secondary-btn" style="width:fit-content">Supprimer</button>
</form>
