{% extends 'base.html.twig' %}

{% block title %}Edit IpsColleges{% endblock %}

{% block body %}
    <h1>Edit IpsColleges</h1>

    {{ include('ips_colleges/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ips_colleges_index') }}">back to list</a>

    {{ include('ips_colleges/_delete_form.html.twig') }}
{% endblock %}
