{% extends 'base.html.twig' %}
{% import 'partials/_indexCrud.html.twig' as tableau %}

{% block title %}IpsColleges index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/tables.css">
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/search.js" defer></script>
{% endblock %}

{% block body %}
    {% set row %}
            <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Rentree_scolaire</th>
                            <th>Academie</th>
                            <th>Code_du_departement</th>
                            <th>Departement</th>
                            <th>Uai</th>
                            <th>Nom_de_l_etablissment</th>
                            <th>Code_insee_de_la_commune</th>
                            <th>Nom_de_la_commune</th>
                            <th>Secteur</th>
                            <th>Ips</th>
                            <th>Ecart_type_de_l_ips</th>
                            <th>Liens</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ips_college in ips_colleges %}
                        <tr>
                            <td>{{ ips_college.id }}</td>
                            <td>{{ ips_college.rentreeScolaire }}</td>
                            <td>{{ ips_college.academie }}</td>
                            <td>{{ ips_college.codeDuDepartement }}</td>
                            <td>{{ ips_college.departement }}</td>
                            <td>{{ ips_college.uai }}</td>
                            <td>{{ ips_college.nomDeLEtablissment }}</td>
                            <td>{{ ips_college.codeInseeDeLaCommune }}</td>
                            <td>{{ ips_college.nomDeLaCommune }}</td>
                            <td>{{ ips_college.secteur }}</td>
                            <td>{{ ips_college.ips }}</td>
                            <td>{{ ips_college.ecartTypeDeLIps }}</td>
                            <td>
                                <a href="{{ path('app_ips_colleges_edit', {'id': ips_college.id}) }}" class="link">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="13">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        {% endset %}

    {{ tableau.tableau(row, ips_colleges, 'app_ips_colleges_new', 'Nom_de_la_commune') }}
{% endblock %}
