{% extends 'base.html.twig' %}

{% block title %}IpsColleges{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/create.css">
{% endblock %}

{% block body %}
    {% if type == 'new'%}
        <h1>Créer une entrée</h1>
    {% else %}
        <h1>Modifier une entrée</h1>
    {% endif %}
    <div class="sep"></div>

    {{ form_start(form) }}
        <div>
            <div class="field">
                {{ form_label(form.rentree_scolaire) }}
                {{ form_widget(form.rentree_scolaire) }}
                {{ form_errors(form.rentree_scolaire) }}
            </div>
            <div class="field">
                {{ form_label(form.academie) }}
                {{ form_widget(form.academie) }}
                {{ form_errors(form.academie) }}
            </div>
            <div class="field">
                {{ form_label(form.code_du_departement) }}
                {{ form_widget(form.code_du_departement) }}
                {{ form_errors(form.code_du_departement) }}
            </div>
            <div class="field">
                {{ form_label(form.departement) }}
                {{ form_widget(form.departement) }}
                {{ form_errors(form.departement) }}
            </div>
            <div class="field">
                {{ form_label(form.uai) }}
                {{ form_widget(form.uai) }}
            </div>
            <div class="field">
                {{ form_label(form.nom_de_l_etablissment) }}
                {{ form_widget(form.nom_de_l_etablissment) }}
                {{ form_errors(form.nom_de_l_etablissment) }}
            </div>
        </div>
        <div>
            <div class="field">
                {{ form_label(form.code_insee_de_la_commune) }}
                {{ form_widget(form.code_insee_de_la_commune) }}
                {{ form_errors(form.code_insee_de_la_commune) }}
            </div>
            <div class="field">
                {{ form_label(form.nom_de_la_commune) }}
                {{ form_widget(form.nom_de_la_commune) }}
                {{ form_errors(form.nom_de_la_commune) }}
            </div>
            <div class="field">
                {{ form_label(form.secteur) }}
                {{ form_widget(form.secteur) }}
                {{ form_errors(form.secteur) }}
            </div>
            <div class="field">
                {{ form_label(form.ips) }}
                {{ form_widget(form.ips) }}
                {{ form_errors(form.ips) }}
            </div>
            <div class="field">
                {{ form_label(form.ecart_type_de_l_ips) }}
                {{ form_widget(form.ecart_type_de_l_ips) }}
                {{ form_errors(form.ecart_type_de_l_ips) }}
            </div>
        </div>

        <div class="actions">
        {% if type == 'new'%}
            <button class="btn main-btn" style="width:fit-content">{{ button_label|default('Créer une nouvelle entrée') }}</button>
        {% else %}
            <button class="btn main-btn" style="width:fit-content">{{ button_label|default('Modifier les informations') }}</button>
            {{ include('ips_colleges/_delete_form.html.twig') }}
            {{ form_rest(form) }}
        {% endif %} 
            <a href="{{ path('app_ips_colleges_index') }}" style="width:fit-content" class="btn third-btn">Retourner à la liste</a>
        </div>
    {{ form_end(form) }}

    
{% endblock %}
