{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/form-login.css">
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
    <div class="form-login">
        <h2>Inscription à l’API Éco-France</h2>

        {{ form_start(registrationForm) }}
            <div class="field">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
            </div>

            <div class="field">
                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword) }}
            </div>

            <div class="form-checkbox">
                {{ form_widget(registrationForm.agreeTerms) }}
                <label for="registration_form_agreeTerms" class="required">Accépter les conditions générales</label>
            </div>

            <button class="btn main-btn" type="submit">
                Créer un compte
            </button>
        
        {{ form_end(registrationForm) }}
        <div class="sep"></div>
        <h2>Vous avez déja un compte ?</h2>
        <a href="{{ path('app_login') }}" class="btn secondary-btn">
            Se connecter
        </a>
    </div>
{% endblock %}
