@import "../variables.scss";

footer {
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    background-color: $clear-blue;
    margin-top: 160px;

    &>div {
        display: flex;
        align-items: center;
        gap: 20px;

        & div>*:not(button) {
            color: $blue-color;
        }

        & div>p {
            max-width: 600px;
            font-family: $font-s-italic;
            margin-top: 8px;
            margin-bottom: 16px;
        }

        & div>h2 {
            font-size: 24px;
            font-family: $font-bold;
        }
    }

    @media screen and (max-width: 1000px) {
        padding: 30px;
    }

    @media screen and (max-width: 850px) {
        & img.logo {
            display: none;
        }
    }

    @media screen and (max-width: 500px) {
        & img {
            display: none;
        }
    }
}