@import "../variables.scss";

$header-padding: 28px;
$header-gap: 32px;

:root {
    --box-shadow: #16161623;
}

@media (prefers-color-scheme: dark) {
    :root {
        --box-shadow: #ffffff29;
    }
}

header {
    z-index: 1000;
    position: fixed;
    display: flex;
    width: 100%;
    padding: $header-padding 100px;
    gap: $header-gap;
    background-color: $white;
    box-shadow: 0px 2px 6px var(--box-shadow);
    top: 0;

    & div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & h2 {
            font-size: 20px;
            font-family: $font-bold;
        }

        & p {
            font-size: 14px;
            font-family: $font-regular;
        }
    }

    @media screen and (max-width: 1000px) {
        $header-padding: 30px;
        padding: $header-padding;
    }
}