@import "../variables.scss";

.college {
    display: flex;
    padding: 25px;
    border: 1px solid $light-grey;
    cursor: pointer;
    transition: $long-transition-time;

    &:hover {
        background-color: $ultra-light-grey;
    }

    & .tag {
        align-items: flex-end;
    }

    & .title {
        flex-grow: 1;
    }

    & .tag,
    .title {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & h3 {
        font-family: $font-bold;
    }

    & span {
        padding: 4px 12px;
        background-color: $light-grey;
        border-radius: 20px;
        font-family: $font-bold;
        width: fit-content;

        &.uai::before {
            content: 'UAI ';
            font-family: $font-regular;
        }

        &.secteur::before {
            content: 'Secteur ';
            font-family: $font-regular;
        }
    }
}