@import "../variables.scss";

.sectionInfo {
    padding: 12px;

    & h2 {
        font-size: 32px;
        font-family: $font-bold;
        margin-bottom: 17px;
    }

    &>.content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
    }
}