{% extends 'base.html.twig' %}

{% block title %}Edu France API{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block body %}
<div class="card">
    <h1>API Édu-France</h1>
    <p>L’API Édu-France est accessible à tous, hormis pour /api/admin, réservé aux administrateurs, ou /api/user où votre clé API est nécessaire dans l’en-tête ou dans la partie Authorize du centre d’essai.</p>
    <div class="button">
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{path('app_ips_colleges_index')}}" class="btn secondary-btn" style="width:fit-content">Accéder au centre d'administration</a>    
        {% endif %}
    </div>
</div>
{% endblock %}
