{% extends 'base.html.twig' %}
{% import 'partials/_indexCrud.html.twig' as tableau %}


{% block title %}Utilisateurs index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/tables.css">
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/search.js" defer></script>
{% endblock %}

{% block body %}
    {% set row %}
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="link">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endset %}

    {{ tableau.tableau(row, users, 'app_user_new', 'email') }}
{% endblock %}
