{% extends 'base.html.twig' %}

{% block title %}Nouvelle Utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/create.css">
{% endblock %}

{% block body %}
    {% if type == 'new'%}
        <h1>Créer une entrée</h1>
    {% else %}
        <h1>Modifier une entrée</h1>
    {% endif %}
    <div class="sep"></div>

    {{ form_start(form) }}
        <div>
            <div class="field">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="field">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
                {{ form_errors(form.password) }}
            </div>
        </div>
        <div>
            <div class="field">
                {{ form_label(form.roles) }}
                {{ form_widget(form.roles) }}
                {{ form_errors(form.roles) }}
            </div>
        </div>

        <div class="actions">
        {% if type == 'new'%}
            <button class="btn main-btn" style="width:fit-content">{{ button_label|default('Créer une nouvelle entrée') }}</button>
        {% else %}
            <button class="btn main-btn" style="width:fit-content">{{ button_label|default('Modifier les informations') }}</button>
            {{ include('user/_delete_form.html.twig') }}
            {{ form_rest(form) }}
        {% endif %} 
            <a href="{{ path('app_user_index') }}" style="width:fit-content" class="btn third-btn">Retourner à la liste</a>
        </div>
    {{ form_end(form) }}

    
{% endblock %}
