$couleur-background: #f0f0f0;
$blue-color: #000091;

body {
  background-color: $couleur-background;
}

main {
  margin-top: 144px !important;
  width: calc(100% - 200px);
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  main {
    width: calc(100% - 60px);
  }

}