@import "./variables.scss";

main {
    &>h1 {
        margin-top: 56px;
    }

    &>p {
        margin-top: 24px;
        margin-bottom: 56px;
    }
}

@import "./includes/FormSection.scss";

main .info {
    display: flex;
    gap: 93px;
    margin-top: 90px;

    &>* {
        flex: 1;
    }



    @media screen and (max-width: 1250px) {
        flex-direction: column;
        gap: 24px;
    }
}