@import "./variables.scss";


.search {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;

    & .form-search-college {
        display: flex;
        gap: 24px;
        align-items: flex-end;

        & *:not(button) {
            flex-grow: 1;
        }

        & button {
            height: fit-content;
        }

        @media screen and (max-width: 900px) {
            width: 100%;
            flex-direction: column;

            & div,
            button {
                width: 100%;
            }
        }

    }
}

.data {
    display: flex;
    margin-top: 22px;

    & aside {
        width: 268px;
        padding-right: 32px;
        border-right: 1px solid $light-grey;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    & article {
        flex-grow: 1;
        padding-left: 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        &>p {
            margin-bottom: 26px;
        }
    }

    @media screen and (max-width: 900px) {
        flex-direction: column;
        margin-top: 80px;

        & article,
        aside {
            padding: unset;
        }

        & aside {
            width: 100%;
            flex-direction: column;
        }

        & .college {
            flex-direction: column;

            & .tag {
                margin-top: 16px;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

    }
}