@import "./variables.scss";

.file_ariane {
    margin-bottom: 40px;
}

section {
    margin-top: 50px;

    & h2 {
        font-size: 32px;
        margin-bottom: 24px;
        font-family: $font-bold;
    }

    &.info {
        display: flex;
        gap: 24px;

        &>* {
            flex: 1 1;
        }

        @media screen and (max-width: 1160px) {
            flex-direction: column;

        }
    }

    & .contenu {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &.info article:last-child .dataTable div {
        border-left: 4px solid #297254;
    }
}