@font-face {
    font-family: 'Mariane Regular';
    src: url('/font/Marianne-Light.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Mariane Medium';
    src: url('/font/Marianne-Medium.otf') format('opentype');
    font-weight: medium;
}

@font-face {
    font-family: 'Spectral Italic';
    src: url('/font/Spectral-Italic.ttf') format('opentype');
    font-weight: medium;
}

$font-bold : 'Mariane Medium',
sans-serif;
$font-regular : 'Mariane Regular',
sans-serif;
$font-s-italic: 'Spectral Italic', sans-serif;

$couleur-background: #f0f0f0;

$blue-color: var(--blue-color);
$light-blue: #1212FF;
$clear-blue: var(--clear-blue);

$grey: #DDDDDD;
$light-grey: var(--light-grey);
$ultra-light-grey: var(--ultra-light-grey);
$darck-grey: #666666;

$transition-time: 0.1s;
$long-transition-time: 0.3s;

$black: var(--black);
$white: var(--white);

body {
    color: $black;
    background-color: $white !important;
}

h1 {
    font-size: 32px;
    font-family: $font-bold;
}

p,
label,
input,
select,
textarea {
    font-family: $font-regular;
}


:root {
    --blue-color: #000091;
    --ultra-light-grey: #F6F6F6;

    --light-grey: #f0f0f0;

    --black: #000000;
    --white: #ffffff;
    --clear-blue: #F3F6FE;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ultra-light-grey: #1E1E1E;
        --blue-color: #8585F6;
        --clear-blue: #1B1B35;

        --light-grey: #242424;

        --black: #ffffff;
        --white: #161616;
    }
}