@import "../variables.scss";

$colors: #E4794A, #5B70B8, #297254;

@for $i from 1 through length($colors) {
    .CardInfo:nth-of-type(#{$i}) {
        padding: 24px 16px;
        background-color: nth($colors, $i);
    }
}

.CardInfo {
    padding: 24px 16px;
    background-color: nth($colors, random(length($colors)));
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    color: white;
    cursor: pointer;

    & img {
        margin-right: 10px;
        transition: $long-transition-time;
    }

    & p {
        font-size: 16px;
    }

    & h3 {
        font-size: 24px;
        font-family: $font-bold;
        margin-top: 5px;
    }

    &:hover img {
        margin-right: 5px;
    }

    @media screen and (max-width: 500px) {
        & h3 {
            font-size: 20px;
        }
    }
}