@import "../variables.scss";

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & input,
    select,
    textarea {
        padding: 8px 16px;
        background-color: $light-grey;
        border-bottom: 2px solid $darck-grey;
    }

    & select {
        text-transform: lowercase;
    }
}