.form-section {
    width: 100%;
    padding: 52px 24px;
    background-color: $ultra-light-grey;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & h2 {
        font-size: 22px;
    }

    & .secondary {
        color: $darck-grey;
    }

    &>* {
        margin: 0 auto;
        max-width: 588px;
        width: 100%;
    }

    & .form-search-college {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & button {
            margin-top: 8px;
        }
    }

}