header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #F5F5FE;

    padding: 16px 100px;

    display: flex;
    justify-content: space-between;
}

header>div {
    display: flex;
    gap: 16px
}

@media screen and (max-width: 1000px) {
    header div p {
        display: none;
    }

}

.popupApi {
    position: absolute;
    top: 60px;
    right: 6px;
    padding: 24px;
    display: none;
    flex-direction: column;
    width: 346px;
    background-color: var(--grey);
    border-left: 4px solid #6A6AF4;
}