{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/form-login.css">
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
    <div class="popupAlert">
        {% if error %}
            <div class="alert alert-danger">Les informations sont incorrectes !</div>
        {% endif %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="form-login">
        <h2>Connexion à l’API Éco-France</h2>

        <form method="post">
            <div class="field">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="field">
                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn main-btn" type="submit">
                Se connecter
            </button>
        </form>
        <div class="sep"></div>
        <h2>Vous n’avez pas de compte ?</h2>
        <a href="{{ path('app_register') }}" class="btn secondary-btn">
            Créer un compte
        </a>
    </div>

    
{% endblock %}
