<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="/assets/css/global.css">
        <link rel="stylesheet" href="/assets/css/partials/_header.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body style="background: #fff;">
        {% block header %}
            {% include 'partials/_header.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}

        <script>
        setTimeout(function() {
            var popupAlert = document.querySelector('.popupAlert');
            if (popupAlert) {
                popupAlert.style.display = 'none';
            }
        }, 5000);
    </script>
    </body>
</html>
