<header>
    <div>
        <img src="/assets/images/mariane.svg" alt="image de mariane">
        <p>
            Connecté en tant 
            {% if 'ROLE_ADMIN' in app.user.roles %}
                qu'administrateur
            {% else %}
                qu'utilisateur
            {% endif %}
            au compte {{ app.user.email }}
        </p>
    </div>
    <a class="link" id="popupApibtn">Copier votre clef API</a>
    <div class="popupApi" id="popupApi">
        <p>Recuperer la clef API</p>
        <input id="emailInput" type="text" placeholder="E-Mail">
        <input id="passwordInput" type="text" placeholder="Mot de passe">
        <button id="apiBtn" class="btn main-btn">Copier une clef d'api</button>
    </div>
</header>


<script>
document.getElementById("popupApibtn").addEventListener("click", function() {
    var popup = document.getElementById("popupApi");
    popup.style.display = "flex";
});



document.getElementById("apiBtn").addEventListener("click", function() {
    console.log("click");
    var email = document.getElementById("emailInput").value;
    var password = document.getElementById("passwordInput").value;
    
    var data = JSON.stringify({
        "email": email,
        "password": password
    });

    fetch('https://api-edu-college.baudrysouvignet.fr/auth', {
        method: 'POST',
        headers: {
            'accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: data
    })
    .then(response => response.json())
    .then(data => {
        navigator.clipboard.writeText(data.token)
        .then(() => {
            console.log('Token copié dans le presse-papiers');
        })
        .catch(err => {
            console.error('Erreur lors de la copie du token dans le presse-papiers : ', err);
        });
    })
    .catch(error => {
        console.error('Error:', error);
    });

    var popup = document.getElementById("popupApi");
    popup.style.display = "none";
});
</script>