{% macro tableau(tab, data, path, search) %}

<div class="tablesContent">
        <nav>
            <a href="{{ path("app_ips_colleges_index") }}" class="{% if app.request.attributes.get('_route') == "app_ips_colleges_index" %}selected{% endif %}" >IPS par écoles</a>
            <a href="{{ path("app_d_n_b2018_index") }}" class="{% if app.request.attributes.get('_route') == "app_d_n_b2018_index" %}selected{% endif %}" >DNB 2018</a>
            <a href="{{ path("app_user_index") }}" class="{% if app.request.attributes.get('_route') == "app_user_index" %}selected{% endif %}" >Utilisateurs</a>
        </nav>

        <div class="content">
            <div class="contentTable">
                {{tab}}
            </div>

            <div class="choice">
                <a class="btn main-btn" style="width:fit-content;" href="{{ path(path) }}">Créer une nouvelle entrée</a>
                <form action="{{ app.request.uri }}">
                    <input type="text" name="search" placeholder="{{search}}" >
                    <button type="submit" class="btn main-btn">Rechercher</button>
                </form>
                {{ knp_pagination_render(data)}}

            </div>
            

        </div>
    </div>   

    {% endmacro %}