@import "../variables.scss";

@mixin button-style($background, $color, $border) {
    background-color: $background;
    color: $color;
    border: 1px solid $border;

    &:hover {
        @if $background == white {
            background-color: $light-grey;
            color: $color;
        }
        @else {
            background-color: $light-blue;
            color: $color;
        }
    }
}

.custom-button {
    padding: 8px 16px;
    transition: $transition-time;

    &.main-btn {
        @include button-style($blue-color, white, $blue-color);
    }

    &.secondary-btn {
        @include button-style(white, $blue-color, $blue-color);
    }
    
    &.third-btn {
        @include button-style(white, $blue-color, $grey);
    }
}