@import "../variables.scss";

@mixin button-style($background) {
    color: $background;

    &::after {
        background-color: $background;
    }

    &:hover {
        &::after {
            width: 0;
        }
    }
}

.custom-link {
    position: relative;

    &::after {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        left: 0;
        transition: $transition-time;
    }

    &.main-link {
        @include button-style($blue-color);
    }

    &.secondary-link {
        @include button-style($black);
    }

    &.third-link {
        @include button-style($darck-grey);
    }
}