form,
h1,
.sep {
    width: calc(100% - 30px);
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    margin-top: 110px;
    margin-bottom: 13px;
    font-family: 'Mariane Medium', sans-serif;
}

form {
    position: relative;
    margin-top: 32px;
    display: flex;
    gap: 120px;
    margin-bottom: 200px;
}

form>div:not(.actions) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form .actions {
    position: absolute;
    bottom: -70px;
    display: flex;
    gap: 32px;
}

form .field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

div.field ul li {
    list-style: none;
    color: #CE0500;
}

@media screen and (max-width: 750px) {
    form {
        flex-direction: column;
        gap: 16px;
    }

    form .actions {
        flex-direction: column;
        bottom: -130px;
        gap: 16px;
    }

}