.form-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 52px 106px;
    background-color: var(--light-grey);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    width: 100vw;
    max-width: 588px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form .field:not(:first-child) {
    margin-top: 16px !important;
}

form .btn {
    margin-top: 24px;
}

.form-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.form-checkbox input {
    background-color: transparent;
}

@media screen and (max-width: 588px) {
    .form-login {
        height: 100vh;
        padding: 52px 20px;
    }

}