@font-face {
    font-family: 'Mariane Regular';
    src: url('../font/Marianne-Light.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Mariane Medium';
    src: url('../font/Marianne-Medium.otf') format('opentype');
    font-weight: medium;
    /* Correspond au style bold */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mariane Regular', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
}

:root {
    --light-grey: #F6F6F6;
    --grey: #EEEEEE;
    --darck-grey: #3A3A3A;
    --main-blue: #000091;
    --secondary-blue: #E3E3FD;
}

h2 {
    font-size: 24px;

    font-family: 'Mariane Medium', sans-serif;
}

input {
    background-color: var(--grey);

    border: none;
    border-bottom: 2px solid var(--darck-grey);

    height: 40px;

    padding: 8px 16px;
}

.sep {
    height: 2px;
    width: 100%;
    background-color: var(--grey);
}

input:focus {
    border-bottom: 2px solid var(--main-blue);
}

.btn {
    display: flex;
    justify-content: center;

    padding: 8px 16px;


    width: 100%;

    border: none;
    border-radius: 0;

    font-family: 'Mariane Medium', sans-serif;
    cursor: pointer;
    transition: 0.1s;
}

.btn.main-btn {
    background-color: var(--main-blue);
    color: white;
}

.btn.main-btn:hover {
    background-color: #1212FF;
}

.btn.secondary-btn {
    border: 1px solid var(--main-blue);
    background-color: transparent;
    color: var(--main-blue);
}

.btn.secondary-btn:hover {
    background-color: var(--grey);
}

.btn.third-btn {
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--main-blue);
}

.btn.third-btn:hover {
    background-color: var(--grey);
}

.popupAlert {
    position: absolute;
    bottom: 40px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.alert {
    z-index: 10;
    width: 282px;
    padding: 8px;
    background-color: white;
}

.alert.alert-danger {
    border: 1px solid #CE0500;
    border-left: 10px solid #CE0500;
}

.alert.alert-success {
    border: 1px solid #18753C;
    border-left: 10px solid #18753C;
}

.link {
    position: relative;
    color: var(--main-blue);
    cursor: pointer;
}

.link::before {
    content: '';
    position: absolute;

    width: 100%;
    height: 1px;
    bottom: -3px;

    background-color: var(--main-blue);
    transition: 0.1s;
}

.link:hover::before {
    content: '';
    height: 2px;
    bottom: -4px;
}