.card {
    position: absolute;
    width: calc(100% - 60px);
    max-width: 792px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card h1 {
    font-size: 32px;
    font-family: 'Mariane Medium', sans-serif;
}

.card .button {
    display: flex;
    gap: 10px;
}