.tablesContent {
    width: calc(100% - 100px);

    margin: 0 auto;
    margin-top: 112px;

    min-height: 450px;
}

.tablesContent nav {
    display: flex;
    padding-left: 16px;
    gap: 8px;
}

.tablesContent nav a {
    padding: 8px 15px;
    padding-top: 6px;
    font-family: 'Mariane Medium', sans-serif;
}

.tablesContent nav a:not(.selected) {
    background-color: var(--secondary-blue);
    border-top: 2px solid var(--secondary-blue);
    color: black;
}


.tablesContent nav a:not(.selected):hover {
    background-color: #C1C1FB;
    border-top: 2px solid #C1C1FB;
    color: black;
    transition: 0.1s;
}



.tablesContent nav a.selected {
    padding-top: 6px;
    border: 1px solid var(--grey);
    border-top: 2px solid var(--main-blue);
    background-color: white;
    color: var(--main-blue);
}

.tablesContent .content {
    width: 100%;
    height: calc(100vh - 207px);
    border: 1px solid var(--grey);
    margin-top: -1px;

    min-height: 411px;
}

.tablesContent .contentTable {
    width: calc(100% - 64px);
    overflow: scroll;
    margin: 0 auto;
    height: calc(100% - 98px);
}

/* --- Tableau --- */

table {
    margin-top: 4px;
}

table thead {
    height: 55px;
    background-color: var(--grey);
}

thead {
    border-bottom: 2px solid black;
}

table {
    border-collapse: collapse;
    min-width: 100%;
}

table {
    border-spacing: 0;
}

table th {
    padding: 20px;
    font-family: 'Mariane Medium', sans-serif;
}

table td {
    padding: 0 20px;
}

table tr {
    height: 55px;
    background-color: var(--grey);
}

tbody tr:nth-child(2n) {
    background-color: var(--light-grey);
}

/* --- BTNS --- */

.tablesContent .choice {
    width: calc(100% - 64px);

    margin: 0 auto;
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
}

.tablesContent .choice form {
    display: flex;
}

.pagination,
.pagination span {
    display: flex;
}


.pagination span a,
.pagination span.current {
    background-color: var(--main-blue);
    padding: 8px 16px;


    width: 100%;

    border: none;
    border-radius: 0;

    font-family: 'Mariane Medium', sans-serif;
    cursor: pointer;
    transition: 0.1s;
    color: white;
}

.pagination span:not(.current) a {
    background-color: white;
    transition: 0.1s;
}

.pagination span:not(.current) a:hover {
    background-color: #E3E3FD;
}

.pagination span a {
    color: black;
}

.pagination span.current a {
    color: white;
    font-family: 'Mariane Medium', sans-serif;
}