<form method="post" action="{{ path('app_d_n_b2018_delete', {'id': d_n_b2018.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ d_n_b2018.id) }}">
    <button class="btn">Delete</button>
</form>
