{% extends 'base.html.twig' %}

{% block title %}Edit DNB2018{% endblock %}

{% block body %}
    <h1>Edit DNB2018</h1>

    {{ include('dnb2018/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_d_n_b2018_index') }}">back to list</a>

    {{ include('dnb2018/_delete_form.html.twig') }}
{% endblock %}
