{% extends 'base.html.twig' %}
{% import 'partials/_indexCrud.html.twig' as tableau %}


{% block title %}DNB2018 index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/tables.css">
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/search.js" defer></script>
{% endblock %}

{% block body %}
    {% set row %}
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Session</th>
                <th>Numero_etablissement</th>
                <th>Denomination_principale</th>
                <th>Patronyme</th>
                <th>Secteur_denseignement</th>
                <th>Commune</th>
                <th>Libelle_commune</th>
                <th>Code_departement</th>
                <th>Libelle_departement</th>
                <th>Code_academie</th>
                <th>Libelle_academie</th>
                <th>Code_region</th>
                <th>Libelle_region</th>
                <th>Inscrits</th>
                <th>Presents</th>
                <th>Admis</th>
                <th>Admis_sans_mention</th>
                <th>Taux_de_reussite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dnb2018 in dnb2018s %}
            <tr>
                <td>{{ dnb2018.id }}</td>
                <td>{{ dnb2018.session }}</td>
                <td>{{ dnb2018.numeroEtablissement }}</td>
                <td>{{ dnb2018.denominationPrincipale }}</td>
                <td>{{ dnb2018.patronyme }}</td>
                <td>{{ dnb2018.secteurDenseignement }}</td>
                <td>{{ dnb2018.commune }}</td>
                <td>{{ dnb2018.libelleCommune }}</td>
                <td>{{ dnb2018.codeDepartement }}</td>
                <td>{{ dnb2018.libelleDepartement }}</td>
                <td>{{ dnb2018.codeAcademie }}</td>
                <td>{{ dnb2018.libelleAcademie }}</td>
                <td>{{ dnb2018.codeRegion }}</td>
                <td>{{ dnb2018.libelleRegion }}</td>
                <td>{{ dnb2018.inscrits }}</td>
                <td>{{ dnb2018.presents }}</td>
                <td>{{ dnb2018.admis }}</td>
                <td>{{ dnb2018.admisSansMention }}</td>
                <td>{{ dnb2018.tauxDeReussite }}</td>
                <td>
                    <a href="{{ path('app_d_n_b2018_edit', {'id': dnb2018.id}) }}" class="link">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endset %}

    {{ tableau.tableau(row, dnb2018s, 'app_d_n_b2018_new', 'Libelle_commune') }}
{% endblock %}
