{% extends 'base.html.twig' %}

{% block title %}DNB 2018{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/create.css">
{% endblock %}

{% block body %}
    {% if type == 'new'%}
        <h1>Créer une entrée</h1>
    {% else %}
        <h1>Modifier une entrée</h1>
    {% endif %}
    <div class="sep"></div>

    {{ form_start(form) }}
        <div>
            <div class="field">
                {{ form_label(form.session) }}
                {{ form_widget(form.session) }}
                {{ form_errors(form.session) }}
            </div>
            <div class="field">
                {{ form_label(form.numero_etablissement) }}
                {{ form_widget(form.numero_etablissement) }}
                {{ form_errors(form.numero_etablissement) }}
            </div>
            <div class="field">
                {{ form_label(form.denomination_principale) }}
                {{ form_widget(form.denomination_principale) }}
                {{ form_errors(form.denomination_principale) }}
            </div>
            <div class="field">
                {{ form_label(form.patronyme) }}
                {{ form_widget(form.patronyme) }}
                {{ form_errors(form.patronyme) }}
            </div>
            <div class="field">
                {{ form_label(form.secteur_denseignement) }}
                {{ form_widget(form.secteur_denseignement) }}
            </div>
            <div class="field">
                {{ form_label(form.commune) }}
                {{ form_widget(form.commune) }}
                {{ form_errors(form.commune) }}
            </div>
            <div class="field">
                {{ form_label(form.code_academie) }}
                {{ form_widget(form.code_academie) }}
                {{ form_errors(form.code_academie) }}
            </div>
            <div class="field">
                {{ form_label(form.libelle_academie) }}
                {{ form_widget(form.libelle_academie) }}
                {{ form_errors(form.libelle_academie) }}
            </div>
            <div class="field">
                {{ form_label(form.libelle_commune) }}
                {{ form_widget(form.libelle_commune) }}
                {{ form_errors(form.libelle_commune) }}
            </div>
        </div>
        <div>
            <div class="field">
                {{ form_label(form.code_departement) }}
                {{ form_widget(form.code_departement) }}
                {{ form_errors(form.code_departement) }}
            </div>
            <div class="field">
                {{ form_label(form.libelle_departement) }}
                {{ form_widget(form.libelle_departement) }}
                {{ form_errors(form.libelle_departement) }}
            </div>
            <div class="field">
                {{ form_label(form.code_region) }}
                {{ form_widget(form.code_region) }}
                {{ form_errors(form.code_region) }}
            </div>
            <div class="field">
                {{ form_label(form.libelle_region) }}
                {{ form_widget(form.libelle_region) }}
                {{ form_errors(form.libelle_region) }}
            </div>
            <div class="field">
                {{ form_label(form.inscrits) }}
                {{ form_widget(form.inscrits) }}
                {{ form_errors(form.inscrits) }}
            </div>
            <div class="field">
                {{ form_label(form.presents) }}
                {{ form_widget(form.presents) }}
                {{ form_errors(form.presents) }}
            </div>
            <div class="field">
                {{ form_label(form.admis) }}
                {{ form_widget(form.admis) }}
                {{ form_errors(form.admis) }}
            </div>
            <div class="field">
                {{ form_label(form.admis_sans_mention) }}
                {{ form_widget(form.admis_sans_mention) }}
                {{ form_errors(form.admis_sans_mention) }}
            </div>
            <div class="field">
                {{ form_label(form.taux_de_reussite) }}
                {{ form_widget(form.taux_de_reussite) }}
                {{ form_errors(form.taux_de_reussite) }}
            </div>
        </div>

        <div class="actions">
        {% if type == 'new'%}
            <button class="btn main-btn" style="width:fit-content">{{ button_label|default('Créer une nouvelle entrée') }}</button>
        {% else %}
            <button class="btn main-btn" style="width:fit-content">{{ button_label|default('Modifier les informations') }}</button>
            {{ include('dnb2018/_delete_form.html.twig') }}
            {{ form_rest(form) }}
        {% endif %} 
            <a href="{{ path('app_d_n_b2018_index') }}" style="width:fit-content" class="btn third-btn">Retourner à la liste</a>
        </div>
    {{ form_end(form) }}

    
{% endblock %}
