{% extends 'base.html.twig' %}

{% block title %}DNB2018{% endblock %}

{% block body %}
    <h1>DNB2018</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ d_n_b2018.id }}</td>
            </tr>
            <tr>
                <th>Session</th>
                <td>{{ d_n_b2018.session }}</td>
            </tr>
            <tr>
                <th>Numero_etablissement</th>
                <td>{{ d_n_b2018.numeroEtablissement }}</td>
            </tr>
            <tr>
                <th>Denomination_principale</th>
                <td>{{ d_n_b2018.denominationPrincipale }}</td>
            </tr>
            <tr>
                <th>Patronyme</th>
                <td>{{ d_n_b2018.patronyme }}</td>
            </tr>
            <tr>
                <th>Secteur_denseignement</th>
                <td>{{ d_n_b2018.secteurDenseignement }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ d_n_b2018.commune }}</td>
            </tr>
            <tr>
                <th>Libelle_commune</th>
                <td>{{ d_n_b2018.libelleCommune }}</td>
            </tr>
            <tr>
                <th>Code_departement</th>
                <td>{{ d_n_b2018.codeDepartement }}</td>
            </tr>
            <tr>
                <th>Libelle_departement</th>
                <td>{{ d_n_b2018.libelleDepartement }}</td>
            </tr>
            <tr>
                <th>Code_academie</th>
                <td>{{ d_n_b2018.codeAcademie }}</td>
            </tr>
            <tr>
                <th>Libelle_academie</th>
                <td>{{ d_n_b2018.libelleAcademie }}</td>
            </tr>
            <tr>
                <th>Code_region</th>
                <td>{{ d_n_b2018.codeRegion }}</td>
            </tr>
            <tr>
                <th>Libelle_region</th>
                <td>{{ d_n_b2018.libelleRegion }}</td>
            </tr>
            <tr>
                <th>Inscrits</th>
                <td>{{ d_n_b2018.inscrits }}</td>
            </tr>
            <tr>
                <th>Presents</th>
                <td>{{ d_n_b2018.presents }}</td>
            </tr>
            <tr>
                <th>Admis</th>
                <td>{{ d_n_b2018.admis }}</td>
            </tr>
            <tr>
                <th>Admis_sans_mention</th>
                <td>{{ d_n_b2018.admisSansMention }}</td>
            </tr>
            <tr>
                <th>Taux_de_reussite</th>
                <td>{{ d_n_b2018.tauxDeReussite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_d_n_b2018_index') }}">back to list</a>

    <a href="{{ path('app_d_n_b2018_edit', {'id': d_n_b2018.id}) }}">edit</a>

    {{ include('dnb2018/_delete_form.html.twig') }}
{% endblock %}
